<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511188328517-1iadgncpsdiskkr6tb9sqab9gokslv8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511188328517-1iadgncpsdiskkr6tb9sqab9gokslv8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAz1b0jbboUv0MMaQlwUeRKxAScrgOoXsc</string>
	<key>GCM_SENDER_ID</key>
	<string>511188328517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-38351</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-38351.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511188328517:ios:11cb8e425567572a1a032c</string>
</dict>
</plist>